<# Add_Class(a:="Inspection", d:="Enum Representing Type Member Accessiblity.") #>
<# Add_Enum(n:="Readable", d:="Readable Member.", v:=1, b:=True) #>
<# Add_Enum(n:="Writable", d:="Writable Member.", v:=2, b:=True) #>
<# Add_Enum(n:="ReadOnly", d:="Read Only Member.", v:=4, b:=True) #>
<# Add_Enum(n:="WriteOnly", d:="Write Only Member.", v:=8, b:=True) #>
<# Add_Enum(n:="ReadWrite", d:="Read/Write Member.", v:=16, b:=True) #>
<#@ include file="%TEMPLATES_PATH%\Classes\VB_Enum.tt" #>